#layer-detail .row:not(.header):hover {
    background : yellow;
}
.file-input-header{
    color: #777;
    text-align: center;
}

#collapseOne th{
    text-align: center;
}

#collapseOne tr{
    line-height: 13px;
    font-size: 90%;
}

#collapseTwo tr{
    line-height: 12px;
    font-size: 80%;
}

#breakdownTable {
    height: 300px;
    overflow: auto;
}

#breakdownTableHeader {
    height: 30px;
}