<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="viewer for CWS files">
    <meta name="author" content="beet3d">
    <link rel="icon" href="../../static/cwsviewer/image/favicon.png">

    <title>CWS Viewer</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cwsviewer/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'cwsviewer/css/bootstrap-editable.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'cwsviewer/css/font-awesome.min.css' %}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'cwsviewer/css/narrow-jumbotron.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cwsviewer/css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'cwsviewer/css/jquery-ui.css' %}"/>

</head>

<body>

<div class="container">

    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="../">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../cwsviewer">CWS-Viewer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/"> Print<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">zSlicer</h3>
    </div>

    <div id="file-input-block" class="container">

        <div class="row justify-content-md-center">
            <div class="col-auto col-auto">
                <h5 class="file-input-header">Please select the .cws file: </h5>
            </div>
            <div class="col-4">
                <label class="custom-file">
                    <input type="file" id="print_file" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
            </div>
            <div class="col-md-1">
                <button id="print-button" class="btn btn-success" type="button" onclick="do_print()">
                    <span class="glyphicon glyphicon-align-center"></span> Print
                </button>
            </div>
            <div class="col-md-1">
                <button id="reset-button" class="btn btn-warning" type="button" onclick="do_print_reset()">
                    <span class="glyphicon glyphicon-align-center"></span> Reset
                </button>
            </div>
        </div>
        <br/>
    </div>


    <div class="jumbotron" id="print_result_block">

        <div id="print_loading">
            <img id="loading-image" src="../../static/cwsviewer/image/loading.gif"/>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="list-group-item">
                    <i class="fa fa-2x fa-arrows-v pull-left"></i>
                    <h4>Z Axis</h4>
                    <span class="btn-group-vertical clearfix" style="display:inline-grid;">
						<span class="btn btn-sm btn-danger fa fa-angle-double-up"
                              onclick="moveZ(50)"> 50</span>
						<span class="btn btn-sm btn-danger fa fa-angle-up"
                              onclick="moveZ(10)"> 10</span>
						<span class="btn btn-sm btn-danger fa fa-angle-up"
                              onclick="moveZ(1)"> 1</span>
						<span class="btn btn-sm btn-danger fa fa-angle-up"
                              onclick="moveZ(.025)"> .025</span>
						<span class="btn btn-sm btn-primary fa fa-home"
                              onclick="homeZ()"></span>
						<span class="btn btn-sm btn-success fa fa-angle-down"
                              onclick="moveZ(-.025)"> .025</span>
						<span class="btn btn-sm btn-success fa fa-angle-down"
                              onclick="moveZ(-1)"> 1</span>
						<span class="btn btn-sm btn-success fa fa-angle-down"
                              onclick="moveZ(-10)"> 10</span>
						<span class="btn btn-sm btn-success fa fa-angle-double-down"
                              onclick="moveZ(-50)"> 50</span>
                    </span>
                </div>
            </div>
            <div class="col-10">
                <div id="pngDisplay">
                </div>
                <br/>
                <!--h6>Current layer</h6-->
                <div id="slider"></div>
            </div>

        </div>
    </div>


    <footer class="footer">
        <p>&copy; Beets3d China 2017</p>
    </footer>

</div> <!-- /container -->


<script src="{% static 'cwsviewer/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'cwsviewer/js/jquery-ui.js' %}"></script>
<script src="{% static 'cwsviewer/js/popper.min.js' %}"></script>
<script src="{% static 'cwsviewer/js/bootstrap.js' %}"></script>
<script src="{% static 'cwsviewer/js/bootstrap-editable.min.js' %}"></script>
<script src="{% static 'cwsviewer/js/mustache.min.js' %}"></script>
<script src="{% static 'cwsviewer/js/cws.js' %}"></script>
<script src="{% static 'cwsviewer/js/pnglib.js' %}"></script>
<script src="{% static 'cwsviewer/js/main.js' %}"></script>
<script src="{% static 'cwsviewer/js/jszip.js' %}"></script>
<script src="{% static 'cwsviewer/js/jszip-utils.js' %}"></script>
<script src="{% static 'cwsviewer/js/machineCtrl.js' %}"></script>
<script src="{% static 'cwsviewer/js/print.js' %}"></script>

</body>
</html>